@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.gradient-text-tbr {
	@apply bg-clip-text text-transparent box-decoration-clone;
	@apply bg-gradient-to-br from-primary-500 via-primary-500 to-secondary-500;
}

.transition-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.transition-container > * {
	grid-row: 1;
	grid-column: 1;
}